section#concessionarias
{
	background: white;
	position: relative;
	padding: 60px 20px;

	#map {
		min-height: 520px;
		width: 100%;
	}

	h4.title {
		font-size: 52px;
		color: black;
		font-family: 'Corporate A Condensed';
		font-weight: normal;
		left: -2px;
		z-index: 1;
		margin-bottom: 20px;
		width: 100%;
	}
	.wrapper-maps
	{
		font-family: 'Corporate S';
		position: relative;
		width: 100%;

		.filtro-concessionario
		{
			position: absolute;
			top: 20px;
			left: 20px;
			width: 300px;
			height: auto;
			min-height: 400px;
			background: #131313;
			padding: 2.5%;
			z-index: 10;

			.form-concessionaria
			{
				.select-label {
					margin: 0 0 9px;
					position: relative;
					display: block;
				}

				.send {
					padding: 14px 20px;
					width: 150px;
					float: right;
					overflow: hidden;
					display: block;
					color: white;
					background: #06c3f9;
					border: 0;
					margin-top: 10px;
					transition: all .3s ease;
					&.disabled {
						transition: all .3s ease;
						opacity: .5;
					}
				}
				p {
					color: white;
					margin-bottom: 10px;
					font-family: 'Corporate SL';
				}

				.cnt-con
				{
					position: relative;
					display: block;
					padding: 20px 0;
				}
				.selecionar-concessionarias
				{
					width: 100%;
					font-size: 20px;
					display: none;
					clear: both;
					margin-top: 80px;
					font-family: 'Corporate SL';

					h3,
					h4,
					h5,
					h6
					{
						font-weight: normal;
						color: white;
						font-size: 15px !important;
					}

					h4
					{
						text-transform: uppercase;
					}

					h5
					{
						padding-bottom: 28px;
					}

					h6,
					h6 a
					{
						padding-top: 10px;
					}

					p
					{
						font-weight: normal;
						color: white;
						font-size: 15px !important;
					}

					a
					{
						color: white;
						text-decoration: none !important;
						font-size: 15px;
					}
				}			
			}			
		}
	}
}

/* =============================================================================
   @MediaQuery
============================================================================= */

@media (max-width: 1023px) {
	section#concessionarias {
		padding: 60px 20px 100px;
		h4.title {
			font-size: 40px;
			margin-bottom: 5px;
		}

		.wrapper-maps {
			.filtro-concessionario {
				position: relative !important;
				width: 100% !important;
				margin: 0 auto;
				left: 0;
				right: 0;
				box-sizing: border-box;
				padding: 25px;
			}

			#map {
				min-height: 400px;
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}