.features {
    width: 100%;
    position: relative;
    background: white;
    margin-top: -1px;
    padding: 70px 0 0 0;
    &__container {
        height: 100%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        h4 {
            font-size: 52px;
            top: 50px;
            color: white;
            font-family: 'Corporate A Condensed';
            font-weight: normal;
            left: -2px;
            color: color(black);
        }
        .align-right {
            text-align: right;
        }
        .wide-row {
            margin: 120px 0;
            overflow: hidden;
            clear: both;
            position: relative;
            .paragraph {
                text-align: left;
                padding: 2%;
                overflow: hidden;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                vertical-align: middle;
                max-height: 200px;
                margin: auto;
                &.align-right {
                    right: 0;
                }
                h3 {
                    font-size: 28px;
                    margin-bottom: 20px;
                    font-family: 'Corporate SL';
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                }

                &.fix {
                    max-height: 234px;
                }

                &.fix2 {
                    max-height: 260px;
                }
            }

            img {
                width: 100%;
            }
        }

        .full-row {
            margin-bottom: -30px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
            }
            .paragraph {
                text-align: left;
                padding: 2%;
                h3 {
                    font-size: 28px;
                    margin-bottom: 20px;
                    font-family: 'Corporate SL';
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .features {
        background: #dcdcdc;
        padding: 0 15px !important;

        h4 {
            padding-top: 30px;
            font-size: 40px;
        }

        .slick-list {
            margin-right: -22px;

            .slick-slide {
                margin-right: 21px;
            }
        }
        &__container {
            .wide-row {
                margin-top: 30px;
                margin-bottom: 50px;
            }
            &__item {
                background: white;
                img {
                    margin-bottom: 30px;
                }

                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    font-weight: bold !important;
                }

                p {
                    font-family: 'Corporate SL';
                    font-size: 16px;
                }

                .content-box {
                    padding: 0 20px 20px;
                }
            }

            &.slide {
                background: white;
                
                .slick-dots {
                    text-align: center;
                    position: relative;
                    margin-bottom: 23px;
                    li {
                        display: inline-block;
                        margin-right: 6px;
                        button {
                            font-size: 0;
                            background: color(light);
                            border: 0;
                            padding: 4px;
                            border-radius: 50px;
                        }
                        &.slick-active {
                            button {
                                background: color(blue);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .features {
        h4 {
            font-size: 30px;
        }
    }
}