footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+2,4c4c4c+2,2c2c2c+21,2c2c2c+21,131313+100 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 2%, #4c4c4c 2%, #2c2c2c 21%, #2c2c2c 21%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 2%,#4c4c4c 2%,#2c2c2c 21%,#2c2c2c 21%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 2%,#4c4c4c 2%,#2c2c2c 21%,#2c2c2c 21%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    background-size: 10px 210px;
    color: white;
    .partners {
        padding: 40px 0;
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
    .social {
        padding: 42px 0 0 0;
        text-align: right;
        color: color(light);
        li {
            display: inline-block;
            margin-right: 10px;
            font-size: 25px;
            transition: all .3s ease;
            &:hover {
                transition: all .3s ease;
                color: color(blue);
            }
        }
        .social-text {
            margin-right: 10px;
            margin-bottom: 7px;
            font-size: 15px;
            text-align: right;
        }
    }

    .links {
        border-top: 1px solid color(light);
        margin-top: -10px;
        li {
            display: inline-block;
            padding: 10px 0;
            font-size: 13px;
            margin-right: 13px;
            color: color(light);
            transition: all .3s ease;
            &:hover {
                transition: all .3s ease;
                color: color(blue);
            }
            &:after {
                content: "|";
                position: relative;
                left: 5%;
            }
        }
        a {
            text-decoration: none;
            
            &:last-child {
                li {
                    &:after {
                        display: none;
                     }
                }
            }
        }
    }
}


@media (max-width: 1023px) {
    footer {
        background-size: 10px 370px;
        padding: 0 15px;
        .social {
            padding: 40px 0 20px;
            text-align: left;
            .social-text {
                text-align: left;
            }
        }
        .links {
            li {
                display: block;
                padding: 10px 0 0;
                font-size: 15px;
                margin-right: 13px;
                color: #7a7a7a;
                transition: all .3s ease;
                &:after {
                    display: none;
                }
            }
        }
    }
}