.form {
	transform: translate3d(100%, 0, 0);
	transition: all .3s ease-in-out;
	max-height: 579px;
	max-width: 400px;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 60;
	right: 0;
	top: 15%;

	&.actived {
		transform: translate3d(0, 0, 0);
	}

	&__container {
		box-sizing: border-box;
		background: #232323;
		position: absolute;
		padding: 35px;
		height: auto;
		width: 100%;
		.title {
			font-size: 27px;
			color: color(blue);
			font-family: "Corporate A Condensed";
		}
		.success, .message-error {
			background: #232323;
			position: absolute;
			display: none;
			height: 100%;
			width: 400px;
			z-index: 30;
			left: 0;
			top: 0;

			&__content {
				transform: translate3d(0, -50%, 0);
    		box-sizing: border-box;
				position: absolute;
				text-align: center;
				padding: 30px;
				width: 100%;
				top: 50%;

				h4 {
					font-family: "Corporate A Condensed";
					color: color(blue);
					font-weight: 100;
					font-size: 32px;
				}
				p {
					font-size: 18px;
					color: white;
				}

				button {
					font-family: "Corporate A Condensed";
					background: transparent;
					border: 2px solid #4ebcfe;
					color: white;
					font-size: 20px;
					padding: 7px;
					width: 120px;
					margin-top: 40px;
					transition: all .2s ease-in;
					cursor: pointer;
					&:hover {
						background: #4ebcfe;
						transition: all .2s ease-in;
					}
				}
			}
		}

		#lead {
			font-family: "CorpoSLig";
			margin-top: 20px;

			.label {
				font-size: 14px !important;
				letter-spacing: .9px;
				color: #b8b8b9;
			}
			.select-label {
				margin-bottom: 2px;
				display: block;


				.selectric-disabled {
					opacity: 1;
				}
				.selectric-scroll {
					font-family: 'Corporate SL';
				}

				&.custom-checkbox {
					display: block;
					position: relative;
					padding-left: 35px;
					margin-bottom: 12px;
					cursor: pointer;
					font-size: 22px;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					font-size: 15px;
					user-select: none;
					color: #b8b8b8;
					padding: 4px 0 0 33px;
					margin: 30px 0 20px;
					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
					}
					.highlight {
						color: color(blue);
						text-decoration: underline;
						transition: all .3s ease;
						&:hover {
							transition: all .3s ease;
							color: #0790cf;
						}
					}
				}
			}
			#form_telefone-error, #form_email-error, #form_nome-error, #form_termos-error {
				display: none !important;
			}

			#form_termos.error + .checkmark {
				border: 1px solid rgba(255, 0, 0, 0.541) !important;
			}
			.error {
				border: 1px solid rgba(255, 0, 0, 0.541) !important;
			}

			.selectric {
				background: #232323;
				border-bottom: .5px solid rgba(122, 122, 122, .5);
			}

			input[type="text"] {
				background: #232323;
				border: none;
				border-bottom: .5px solid rgba(122, 122, 122, .5);
				width: 100%;
				padding: 10px;
				box-sizing: border-box;
				color: #b8b8b9;
				outline: none;
				font-family: 'CorpoSLig';
				font-weight: 600;
				letter-spacing: .9px;
			}

			.send-options {
				.recaptcha {
					max-width: 185px;
					position: relative;
					width: 100%;
					height: 49px;
					display: inline-block;
					.g-recaptcha {
						top: -13px;
						transform: scale(0.6);
						position: absolute;
						left: -60px;
					}
				}

				.send__form {
					width: 110px;
					display: inline-block;
					button {
						padding: 17px 20px;
						width: 110px;
						float: right;
						overflow: hidden;
						display: block;
						color: white;
						background: #06c3f9;
						border: 0;
						margin-top: 10px;
						transition: all .3s ease;
						cursor: pointer;
						&:hover {
							transition: all .3s ease;
							background: #4a484c;
						}
						&.disabled {
							transition: all .3s ease;
							opacity: .5;
						}
					}
				}
			}
		}
	}
	&__ico {
		height: 50px;
		width: 50px;
		position: absolute;
		left: -50px;
		bottom: 110px;
		background: url(../images/ico-form.jpg) no-repeat center center;
		background-size: 100%;
		cursor: pointer;
	}
}


.checkmark {
	position: absolute;
	top: 0px;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: transparent;
	border: 1px solid rgba(122, 122, 122, .5);
	top: 4px;
	left: 4px;
}


/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
	background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
	color: color(blue);
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
	left: 4px;
	top: 0px;
	width: 4px;
	height: 9px;
	border: solid color(blue);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


@media (max-width: 1023px) {
	#privacy {
		z-index: 99999 !important;
	}
	.form {
		max-height: 100%;
		max-width: 100%;
		overflow: auto;
		z-index: 999;
		top: 0;

		&__container {
			padding: 85px 10px 30px 10px;
			min-height: 100%;
			height: auto;

			.title {
				text-indent: 12px;
				font-size: 26px;
			}
			#lead {
				.send-options {
					.recaptcha {
						.g-recaptcha {
							top: -13px;
							transform: scale(0.83);
							left: -13px;
							position: absolute;
							right: 0;
							margin: 0 auto;
							margin-top: 10px;
						}
					}
					.send__form {
						width: 100%;
						margin-top: 30px;
						button {
							width: 100%;
						}
					}
				}
			}
		}
		&__close {
			width: 50px;
			height: 50px;
			position: relative;
			z-index: 9999;
			float: right;
			background: url(../images/close.png) no-repeat center center;
			background-size: 80%;
			right: 2px;
			top: 17px;
		}
		&__ico {
			height: 50px;
			width: 50px;
			position: fixed;
			left: auto;
			bottom: 15%;
			background: url(../images/ico-form.jpg) no-repeat center center;
			background-size: 100%;
			cursor: pointer;
			z-index: 999;
			right: 0;
			margin: auto;
		}
	}
}

@media (min-height: 700px) and (max-width: 768px) {
	
}

@media (max-width: 340px) {
	.form {
		&__container {
			.title {
				font-size: 22px;
			}
		}
	}
}
