.gallery {
    width: 100%;
    position: relative;
    background: black;
    .title {
        font-size: 52px;
        position: absolute;
        top: 70px;
        color: white;
        font-family: 'Corporate A Condensed';
        font-weight: normal;
        z-index: 1;
        pointer-events: none;
        margin: auto;
        left: 0;
        right: 0;
    }
    .zoom {
        background: url(../images/plus.png) no-repeat center center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 15%;
        bottom: 5%;
        cursor: pointer;
        z-index: 20;
        transition: all .2s ease-in-out;
        &.active {
            background: url(../images/minus.png) no-repeat center center;
            &:hover {
                transition: all .2s ease-in-out;
                background: url(../images/minus_hover.png) no-repeat center center;
            }
        }
        &:hover {
            transition: all .2s ease-in-out;
            background: url(../images/plus_hover.png) no-repeat center center;
        }
    }

    .zoom.mobile {
        &.active {
            background: url(../images/minus.png) no-repeat center center;
            &:hover {
                transition: all .2s ease-in-out;
                background: url(../images/minus_hover.png) no-repeat center center;
            }
        }
    }
    &__container {
        width: 100%;
        &__item {
            position: relative;
            margin-bottom: -6px;
            img {
                width: 100%;
            }
            &__highlight {
                width: 350px;
                position: absolute;
                bottom: 20%;
                z-index: 2;
                color: white;
                left: 13%;
                font-weight: 100;
                font-size: 18px;
                background: rgba(0,0,0, 0.8);
                padding: 25px 50px;
                max-width: 270px;
                h4, p {
                    font-weight: 100;
                }
                h4 {
                    font-size: 20px;
                }
                p {
                    font-size: 17px;
                }
            }
        }
        ul.slick-dots {
            position: absolute;
            bottom: 5%;
            width: 100%;
            text-align: center;
        }
        
        ul.slick-dots li {
            max-width: 90px;
            display: inline-block;
            width: 100%;
            background: white;
            margin-right: 10px;
            height: 5px;
            outline: none;
            transition: all .2s ease-in-out;
            &.slick-active {
                transition: all .2s ease-in-out;
                background: #46abed;
            }
            &:hover {
                transition: all .2s ease-in-out;
                background: #46abed;
            }
        }
        
        ul.slick-dots button {
            width: 100%;
            background: transparent;
            border: 0;
            font-size: 0px;
            height: 15px;
            width: 100%;
            outline: none;
        }

        .slick-prev { 
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 50px;
            background: url(../images/arrow.png) no-repeat center center;
            border: 0;
            font-size: 0;
            width: 70px;
            transform: rotate(-180deg);
            z-index: 2;
            outline: 0;
            cursor: pointer;
            background-position: 23px;
            background-size: 32px;
            &:hover, &:active {
                background: url(../images/arrow-blue.png) no-repeat center center;
                background-size: 37px;
                transition: all .2s ease-in-out;
            }
        }

        .slick-next { 
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 50px;
            background: url(../images/arrow.png) no-repeat center center;
            border: 0;
            font-size: 0;
            width: 70px;
            outline: 0;
            background-position: 23px;
            background-size: 32px;
            cursor: pointer;
            &:hover, &:active {
                background: url(../images/arrow-blue.png) no-repeat center center;
                background-size: 37px;
                transition: all .2s ease-in-out;
            }
        }
    }
}

.zoomContainer {
    z-index: 2;
    .visible {
        display: block !important;
    }
}

@media (max-width: 1023px) {
    .gallery {
        height: 90vh;
        &__container {
            height: 100%;
            ul {
                &.slick-dots {
                    li {
                        max-width: 20px;
                        display: inline-block;
                        width: 100%;
                        background: white;
                        margin-right: 5px;
                        height: 3px;
                        outline: none;
                    }
                }
            }
            .slick-prev {
                display: none !important;
            }

            .slick-slide {
                min-height: 400px;
                position: relative;
                height: 80vh;
            }
            &__item {
                position: absolute;
                margin-bottom: -6px;
                vertical-align: middle;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 180px;


                img {
                    &.actived {
                        height: 600px;
                        width: 100%;
                    }
                }
                &__highlight {
                    width: 100%;
                    position: absolute;
                    bottom: -160px;
                    z-index: 2;
                    color: white;
                    left: 5%;
                    font-weight: 100;
                    font-size: 18px;
                    background: rgba(0, 0, 0, 0.8);
                    padding: 20px;
                    max-width: 190px;
                    font-size: 16px;
                    font-family: 'Corporate SL';

                    h4, p {
                        font-size: 15px;
                    }
                }
            }
        }

        .title {
            font-size: 40px;
            position: absolute;
            top: 30px;
        }

        .zoom {
            right: 4%;
            &.mobile {
                &.active {
                    position: fixed;
                    z-index: 9999;
                }
            }
        }
    }

    .zoomContainer {
        z-index: 999;
        position: fixed !important;
        top: 0 !important;
        height: 100% !important;
        background-color: black;
        .visible {
            display: block !important;
            height: 100% !important;
        }
    }


}

@media (max-width: 767px) {
    .gallery {
        &__container {
            &__item {
                &__highlight {
                    background: transparent;
                    max-width: 78%;
                    bottom: auto;
                    top: 62vw;
                }
            }
        }
    }
}