.nav-head {
  padding: 2px 2px 5px;
  background: #0B0B0B;
  color: white;
  min-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 82;
  transition: all .3s ease-in-out;

  .logos {
    display: table;
    img {
      vertical-align: middle;
      float: left;
    }

    .mb-logo {
      margin-right: 35px;
    }
    
    .mobile-logo {
      max-width: 200px;
      padding-top: 5px;
    }
    .new-class-c {
        position: relative;
        top: 27px;
        font-size: 14px;
        left: 10px;
        text-decoration: none;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        &:hover {
          transition: all .2s ease-in-out;
          color: color(blue);
        }
    }
  }

  &__menu {
    text-align: left;
    
    &--mobile {
      display: none;
    }
    .menu-bar {
      position: relative;
      display:  inline-block;
      width: 30px;
      height: 30px;
      margin: 25px;
      float: right;
    }
    .menu-bar span {
      margin: 0 auto;
      position: relative;
      top: 12px;
    }
    .menu-bar span:before, .menu-bar span:after {
      position: absolute;
      content: '';
    }
    .menu-bar span, .menu-bar span:before, .menu-bar span:after {
      width: 40px;
      height: 3px;
      background-color: white;
      display: block;
    }
    .menu-bar span:before {
      margin-top: -12px;
    }
    .menu-bar span:after {
      margin-top: 12px;
    }
    ul {
      li {
        display: inline-block;
        list-style-type: none;
        /* width: 14%; */
        text-align: center;
        vertical-align: bottom;
        height: 30px;
        padding-top: 25px;
        margin: 0 0 0 3.5%;
        cursor: pointer;
        transition: all .3s ease-in-out;
        font-family: 'CorpoSLig';
        letter-spacing: 0.7px;
        user-select: none;
        white-space: nowrap;

        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: color(blue);
        }
        &:hover {
          transition: all .3s ease-in-out;
          color: color(blue);
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .nav-head {
    transition: all .3s ease-in-out;
    min-height: 80px;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    &__menu {
      &--mobile {
        clear: both;
        font-size: 22px;
        font-family: 'Corporate SL';
        padding: 30px 0;
        ul {
          li {
            display: block;
            font-size: 28px;
            margin: 0 0 11px;
            img {
              max-width: 235px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .nav-head {
    padding: 0;
    .logos {
      .mobile-logo {
        max-width: 165px;
        padding: 10px 0 0;
      }
    }
  }
}


/* example 5 */
.example5 span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5.actived span {
	background-color: rgba(0,0,0,0.0);  
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5 span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5.actived span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.example5 span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5.actived span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
