.highlight {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    .title {
        position: absolute;
        color: white;
        left: 0;
        right: 0;
        margin: auto;
        top: 30%;
        background: transparent;
        h4 {
            font-size: 55px;
            font-family: 'Corporate A Condensed';
            font-weight: normal;
        }
        p {
            font-family: 'Corporate SL';
            font-size: 21px;
        }
    }
    &__item {
        background: url('../images/c_class_slide1.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    &__fade {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 10;
        height: 1px;
        box-shadow: 0 41px 170px 91px black;
    }
}

@media (max-width: 1023px) {
    .highlight {
        max-height: 900px;
        .title {
            top: 16%;
            left: 5vw;
            h4 {
                font-size: 40px;
            }
        }
        &__item {
            background: url('../images/c_class_slide1_mobile.jpg') no-repeat center center;
            background-size: 100%;
        }
    }
}

@media (max-width: 900px) {
    .highlight {
        max-height: 630px;
    }
}

@media (max-width: 500px) {
    .highlight {
        max-height: 668px;
        &__item {
            background-size: 105%;
        }
    }
}

@media (max-width: 380px) {
    .highlight {
        max-height: 85vh;
    }
}

@media (max-width: 380px) and (min-height: 800px) {
    .highlight {
        max-height: 70vh;
    }
}