.hotspot {
    width: 100%;
    position: relative;
    background: black;
    height: 94vh;
    .title {
        position: absolute;
        color: white;
        left: 0;
        right: 0;
        margin: auto;
        top: 8%;
        background: transparent;
        padding: 0;
        h4 {
            font-size: 52px;
            font-family: 'Corporate A Condensed';
            font-weight: normal;
        }
        p {
            font-family: 'CorpoSLig';
            font-size: 21px;
        }
    }

    &__disclaimer {
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: 18px;
        color: #7a7a7a;
    }
    
    &__container {
        width: 100%;
        &__internal, &__external {
            background-size: cover !important;
            img {
                width: 100%;
                margin-bottom: -10px;
                height: 95vh;
            }

            .slick-slide {
                img {
                    height: auto;
                }
            }
        }
        &__internal {
            background: url('../images/hotspot/c-hotspot_internal.jpg') no-repeat center center;
            display: none;
            .hotspot__disclaimer {
                color: white;
            }
        }
        &__external {
            background: url('../images/hotspot/c-hotspot_external.jpg') no-repeat center center;
        }
        &__nav {
            position: absolute;
            bottom: 0;
            width: 321px;
            height: 100px;
            left: 0;
            right: 0;
            margin: auto;
            &__internal, &__external {
                width: 130px;
                display: inline-block;
                color: white;
                background: rgba(76, 76, 76, .8);
                margin: 0;
                padding: 13px 15px;
                font-size: 20px;
                text-align: center;
                margin-right: -3px;
                cursor: pointer;
                outline: none;
                user-select: none;
                transition: all .2s ease-in-out;
                &.actived {
                    background: rgba(35, 35, 35, .8);
                    color: color(blue);
                }
                &:hover {
                    transition: all .2s ease-in-out;
                    background: rgba(76, 76, 76, 1);
                    color: color(blue);
                }
            }
        }
    }
}

    

@-webkit-keyframes pulsate { 
     0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.8;
    }
    45% {
        -webkit-transform: scale(1.75);
        transform: scale(1.75);
        opacity: 0;
    }
}

@keyframes pulsate {  
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.8;
    }
    45% {
        -webkit-transform: scale(1.75);
        transform: scale(1.75);
        opacity: 0;
    }
}

/* Hotspot */

.hotspot .img-responsive { max-width: 100%; }

.hotspot-item {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  left: -5px;
  text-align: center;
  background-color: #4ebcfe;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: all .3s ease;
  .title-tip {
    width: 130px;
    padding: 7px;
    position: absolute;
    top: -45px;
    left: -60px;    
    background: rgba(0, 0, 0, 0.7);
    &.two-lines {
        top: -70px;
        &.bigger {
            width: 200px;
            left: -95px;
        }
    }

    &.external {
        width: 140px;
        &.bottom {
            top: 30px;
        }
    }
  }
}

.hotspot .circle {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  margin: -1em auto auto -1em;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-radius: 50%;
  border: 1px solid #4ebcfe;
  opacity: 0;
  -webkit-animation: pulsate 2s ease-out infinite;
  animation: pulsate 2s ease-out infinite;
}

.hotspot .tooltip {
    background-color: white;
    color: #fff;
    display: block;
    font-size: 14px;
    left: auto;
    padding: 33px 25px 25px 30px;
    position: absolute;
    text-align: left;
    top: 30px;
    z-index: 80;
    width: 420px;
    height: auto;
    overflow: hidden;
    display: none;
    box-sizing: border-box;
    &.top-align {
        top: -300px;
        &.motor {
            top: -100px;
            left: -220px;
        }
    }

    .text-desc {
        opacity: 0;
        font-size: 15px;
        margin-top: 20px;
        color: color(light);
        font-weight: bold;
    }

    &.single {
        box-sizing: border-box;

        h4 {
            margin-left: 0;
        }
        .text-row {
            width: 100%;
            opacity: 1;
            padding: 10px 0;
        }

        .img-row {
            padding: 10px 0;
            text-align: center;
            img {
                margin-bottom: -10px;
                width: 100%;
                padding: 0;
            }
        }

    }

    h4 {
        padding: 0 !important;
    }
    .slick-list {
        margin-right: 9px;
        margin-left: -10px;
    }

    .slick-slide {
        height: auto;
        width: 260px;
        outline: none;
        margin-right: -17px;
        &.slick-current {
            .text-row {
                opacity: 1;
                transition: opacity .2s linear;
            }
            .text-desc {
                opacity: 1;
            }
        }
    }
    .slick-list {
        padding: 0 !important;
    }
    .close {
      font-size: 20px;
      color: color(light);
      position: absolute;
      right: 30px;
      z-index: 20;
      top: auto;
      margin-top: -20px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover {
        transition: all .3s ease-in-out;
        transform: rotate(-90deg);
      }
    }
   .img-container {
       position: relative;
   }
   .title {
       color: color(light);
       margin-left: 14px;
       font-size: 16px;
       margin-bottom: 0;
       position: relative;
       top: 0;
       margin-left: -9px;
       max-width: 100%;
   }
   .fade {
        position: absolute;
        height: 260px;
        width: 150px;
        top: 0;
        right: 0;
        background: url(../images/fade.png) no-repeat center center;
        background-size: 98%;
        pointer-events: none;
        -webkit-transform: translate3d(0,0,0);
    }

    .slide-content {
        margin-top: 14px;
        .slick-prev { 
            display: none !important;
        }
    
        .slick-next { 
            position: absolute;
            right: 50px;
            top: 60px;
            margin: auto;
            height: 50px;
            background: url(../images/arrow.png) no-repeat center center;
            border: 0;
            font-size: 0;
            width: 100px;
            outline: 0;
            cursor: pointer;
            background-size: 20px;  
        }
    }
}

.hotspot .tooltip .img-row {
    padding-right: 23px;
    text-align: center;
    .slick-prev { 
        display: none !important;
    }

    .slick-next { 
        position: absolute;
        right: 15%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        background: url(../images/arrow.png) no-repeat center center;
        border: 0;
        font-size: 0;
        width: 100px;
        outline: 0;
        cursor: pointer;
        background-size: 35px;
    }
}

.hotspot .tooltip .text-row { 
    padding: 17px 2px 10px;
    overflow: auto;
    color: color(light);
    opacity: 0;
    transition: opacity .2s linear;
    width: 130%;
    box-sizing: border-box;
}

.hotspot .tooltip h4 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  padding: 0 !important;
}

.hotspot .tooltip p {
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.hotspot .tooltip p:last-child { margin-bottom: 0; }


@media (max-width: 1023px) {
    .hotspot {
        height: auto;
        background: #dcdcdc;
        .title {
            top: 5%;
            h4 {
                font-size: 40px;
            }
            p {
                font-size: 16px;
            }
        }

        &__container {
            &__nav {
                width: 320px;
                height: 60px;
                text-align: center;
                position: relative;
                top: -160px;
            }
            &__internal, &__external {
                img {
                    height: auto;
                }
            }
        }
        .mobile-slide {
            max-width: 70%;
            margin: 0 auto;
            background: white;
            padding: 0 25px 25px;
            margin-top: -90px;
            margin-bottom: 30px;
            position: relative;

            .slick-prev { 
                display: none !important;
            }

            .slick-list {
                margin-right: 1px;
            }
        
            .slick-next { 
                position: absolute;
                right: 15px;
                top: 30px;
                bottom: 0;
                margin: auto;
                height: 50px;
                background: url(../images/arrow.png) no-repeat center center;
                border: 0;
                font-size: 0;
                width: 100px;
                outline: 0;
                cursor: pointer;
                background-size: 20px;
            }

            .slick-slide {
                img {
                    width: 100%;
                }

                &.slick-current {
                    .tooltip {
                        .text-row {
                            opacity: 1;
                        }
                    }
                }
            }

            .tooltip {
                position: relative;
                height: auto;
                width: 80%;
                padding-bottom: 30px;
                max-width: none;
                box-sizing: border-box;
                padding-left: 0;
                padding-top: 0;
                display: block;

                &.fix {
                    .fade {
                        width: 180px;
                    }
                    h4 {
                        font-size: 17px;
                    }
                    .slick-next {
                        top: -176px;
                        right: 18px;
                    }
                }
    
                .img-row, .text-row {
                    display: block;
                }

                .text-row {
                    opacity: 0;
                    width: 112%;
                }

                .text-desc {
                    opacity: 0;
                    font-weight: bold;
                    margin-left: 10px;
                    margin-top: 10px;
                }

                h4 {
                    text-transform: none;
                    font-size: 20px;
                    color: #4b4b4b;
                    padding: 0 !important;
                    margin: 0;
                    margin-bottom: 13px;
                    margin-top: -5px;
                }

                .fade {
                    position: absolute;
                    height: 52vw;
                    width: 210px;
                    top: 6vh;
                    right: -10px;
                    background: url(../images/fade.png) no-repeat center center;
                    background-size: 108%;
                    pointer-events: none;
                }

                .slick-slide {
                    width: 58vw;
                    img {
                        width: 100%;
                    }

                    .mobile-slide__gallery {
                        .text-row {
                            width: 113%;
                            opacity: 0;
                        }
                        .text-desc {
                            opacity: 0;
                        }
                    }
                
                    &.slick-current {
                        .text-row {
                            opacity: 1;
                        }
                        .text-desc {
                            opacity: 1;
                        }
                    }
                }
            }
            
            .img-row {
                .slick-slide {
                    width: 52vw;
                }
            }

            .slick-dots {
                text-align: center;
                padding-top: 30px;
                li {
                    display: inline-block;
                    margin-right: 6px;
                    button {
                        font-size: 0;
                        background: color(light);
                        border: 0;
                        padding: 4px;
                        border-radius: 50px;
                    }
                    &.slick-active {
                        button {
                            background: color(blue);
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 550px) {
    .hotspot {
        .title {
            top: 10vw;
            h4 {
                margin-top: -20px;
            }
            p {
                font-size: 13px;
            }
        }

        &__container {
            &__nav {
                width: 320px;
                height: 60px;
                top: -85px;
                text-align: center;
                &__internal, &__external {
                    width: 110px;
                    padding: 9px 9px;
                    font-size: 16px;
                    font-family: 'Corporate SL';
                }
            }
        }

        .mobile-slide {
            max-width: 75%;
            margin: 0 auto;
            background: white;
            padding: 0 25px 25px;
            margin-top: -90px;
            margin-bottom: 50px;
            position: relative;

            .slick-next {
                right: 4vw;
                top: -130px;
            }

            .text-row {
                width: 110% !important;
            }

            .slick-slide {
                .img-row {
                    margin: 0; 
                    padding: 0;
                    padding-right: 17px;
                }
                .text-row {
                    padding: 10px 0;
                }
            }
           .tooltip {
               padding-bottom: 25px;
                .slick-slide {
                    width: 65vw;
                    margin-right: -13px;
                    .text-row {
                        padding: 20px 10px 10px;
                    }
                }
                .fade {
                    width: 150px;
                    top: 40px;
                }
                &.fix {
                    .fade {
                        width: 159px;
                        background-size: 97px;
                    }
                    .slick-next {
                        top: 16vw;
                        bottom: auto;
                    }
                }
           }
        }

        .hotspot__container__external--mobile {
            .mobile-slide__item {
                &.tooltip {
                    .fade {
                        top: 35px;
                    }
                }
            }
        }
    }
}