.models {
    width: 100%;
    position: relative;
    background: white;
    clear:both;
    padding-top: 40px;
    &.actived {
        position: fixed;
        background: white;
        clear: both;
        height: 100%;
        top: 0;
        z-index: 99;
        &__container {
            width: 100%;
            box-sizing: border-box;
            top: 0;
            height: 90%;
            margin: 20px;
            position: absolute !important;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }
    }
    &__container {
        width: 100%;
        box-sizing: border-box;
        &.inner {
            position: relative;
        }
        &__header {
            .title {
                font-size: 52px;
                color: black;
                font-family: 'Corporate A Condensed';
                font-weight: normal;
                left: -2px;
                z-index: 1;
                margin-bottom: 50px;
                top: 6px;
                position: relative;
            }
            .tabs {
                padding: 15px;
                li {
                    width: 130px;
                    display: inline-block;
                    color: white;
                    background: rgba(76, 76, 76, .8);
                    margin: 0;
                    padding: 13px 15px;
                    font-size: 20px;
                    text-align: center;
                    margin-right: -3px;
                    cursor: pointer;
                    outline: none;
                    user-select: none;
                    &.actived {
                        background: rgba(35, 35, 35, .8);
                        color: color(blue);
                    }
                    &:hover {
                        transition: all .2s ease-in-out;
                        background: rgba(76, 76, 76, 1);
                        color: color(blue);
                    }
                }
            }
        }
        &__content {
            &__coupe, &__cabriolet {
                display: none;
            }
            &__sedan, &__coupe, &__cabriolet {
                clear: both;
                position: relative;
                &:before {
                    content: ' ';
                    position: absolute;
                    width: 25px;
                    height: 2px;
                    top: -5px;
                    background: color(black);
                }
                &__title {
                    clear: both;
                    color: black;
                    font-size: 21px;
                    position: relative;
                    top: 5px;
                    margin-bottom: 40px;
                }
                &__model {
                    margin: 0px 2% 50px 0;
                    cursor: pointer;
                    img {
                        width: 80%;
                    }
                    h4 {
                        font-size: 27px;
                        color: #757575;
                        font-weight: 200;
                        font-family: 'Corporate SL';
                    }
                    .view-more {
                        background: url(../images/arrow.png) no-repeat 12px center #7a7a7a;
                        padding: 12px 10px 12px 15px;
                        border: none;
                        color: white;
                        font-size: 20px;
                        font-weight: 100;
                        font-family: 'Corporate SL';
                        letter-spacing: .5px;
                        max-width: 145px;
                        width: 100%;
                        background-size: 12px;
                        margin-top: 20px;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            transition: all .2s ease-in-out;
                            background: url(../images/arrow.png) no-repeat 12px center rgba(35, 35, 35, .8);
                            background-size: 12px;
                            color: color(blue);
                        }
                    }
                }
            }
            &__coupe {

                &__model {
                    h4 {
                        min-height: 75px;
                    }
                }
            }
        }
        &__modal {
            position: absolute;
            background: white;
            width: 90%;
            height: 90vh;
            top: 4%;
            box-shadow: -1px 7px 96px -33px rgba(0, 0, 0, 0.8);
            display: none;
            z-index: 90;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0 auto;
            header {
                padding: 5px 20px;
                text-align: right;
                font-size: 30px;
                background: white;
                overflow: hidden;
                .closeModal {
                    width: 40px;
                    float: right;
                    overflow: hidden;
                    cursor: pointer;
                    i {
                        color: color(light);
                        transition: all .3s ease-in-out;
                        &:hover {
                            transition: all .3s ease-in-out;
                            transform: rotate(-90deg);
                          }
                    }
                }
            }
            &__content {
                height: 92%;
                overflow: auto;
            }
            &__gallery {
                position: relative;
                &__item {
                    transition: all .3s ease-in-out;
                    img {
                        width: 100%;
                    }

                    .slick-disabled {
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        pointer-events: none;
                    }
                    ul.slick-dots {
                        position: absolute;
                        bottom: 5%;
                        width: 100%;
                        text-align: center;
                    }
                    
                    ul.slick-dots li {
                        max-width: 90px;
                        display: inline-block;
                        width: 100%;
                        background: white;
                        margin-right: 10px;
                        height: 5px;
                        outline: none;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        &.slick-active {
                            background: #46abed;
                        }
                        &:hover {
                            transition: all .2s ease-in-out;
                            background: #46abed;
                        }
                    }
                    
                    ul.slick-dots button {
                        width: 100%;
                        background: transparent;
                        border: 0;
                        font-size: 0px;
                        height: 15px;
                        width: 100%;
                        outline: none;
                    }

                    .slick-prev { 
                        position: absolute;
                        left: 30px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        height: 50px;
                        background: url(../images/arrow.png) no-repeat center center;
                        border: 0;
                        font-size: 0;
                        width: 70px;
                        transform: rotate(-180deg);
                        z-index: 2;
                        outline: 0;
                        cursor: pointer;
                        background-size: 30px;
                        &:hover, &:active {
                            background: url(../images/arrow-blue.png) no-repeat center center;
                            background-size: 30px;
                            transition: all .2s ease-in-out;
                        }
                    }

                    .slick-next { 
                        position: absolute;
                        right: 30px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        height: 50px;
                        background: url(../images/arrow.png) no-repeat center center;
                        border: 0;
                        font-size: 0;
                        width: 70px;
                        outline: 0;
                        background-size: 30px;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        &:hover, &:active {
                            background: url(../images/arrow-blue.png) no-repeat center center;
                            background-size: 30px;
                            transition: all .2s ease-in-out;
                        }
                    }
                }
                &__content {
                    min-height: 560px;
                    h4 {
                        font-size: 30px;
                        font-family: 'Corporate S';
                        padding: 10%;
                    }
                    .specs {
                        width: 100%;
                        max-width: 530px;
                        margin-top: 45px;
                        border-top: 1px solid rgba(122, 122, 122, 0.3);
                        tr {
                            td {
                                border-left: 1px solid rgba(122, 122, 122, 0.3);
                                border-right: 1px solid rgba(122, 122, 122, 0.3);
                                border-bottom: 1px solid rgba(122, 122, 122, 0.3);
                                padding: 4px 15px 0;
                                font-size: 17px;
                                &.name {
                                    border-right: none;
                                    margin-right: -1px;
                                    position: relative;
                                }
                                &.specs-result {
                                    padding-left: 5%;
                                    width: 170px;
                                }
                            }

                            &:last-child {
                                td {
                                    font-size: 11px;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1023px) {
    .models {
        width: 100%;
        position: relative;
        background: white;
        clear: both;
        height: auto;
        &__container {
            &__header {
                padding-top: 40px;
                .tabs {
                    margin: 0;
                    padding: 0;
                    margin-bottom: 50px;
                    li {
                        width: 100px;
                        padding: 10px 13px;
                        font-size: 17px;
                    }
                }

                .title {
                    margin-bottom: 20px;
                    font-size: 40px;
                }
            }
            .two.columns, .columns {
                width: 100% !important;
            }

            &__modal {
                position: fixed;
                background: white;
                width: 100%;
                height: 100%;
                box-shadow: -1px 7px 76px -32px rgba(0, 0, 0, 0.8);
                display: none;
                z-index: 22;
                left: 0;
                overflow: hidden;
                overflow-x: hidden;
                padding-bottom: 30px;
                z-index: 90;
                top: 0;

                header {
                    padding: 5px 20px;
                    text-align: right;
                    font-size: 30px;
                    overflow: hidden;
                    position: fixed;
                    width: 100%;
                    z-index: 50;
                    height: 50px;
                    box-sizing: border-box;
                    background: white;
                }

                &__gallery {
                    &__item {
                        .slick-next {
                            right: 0;
                            width: 40px;
                        }

                        .slick-prev {
                            left: 0;
                            width: 40px;
                        }
                        ul.slick-dots {
                            li {
                                max-width: 50px;
                                display: inline-block;
                                width: 100%;
                                background: white;
                                margin-right: 4px;
                                height: 3px;
                                outline: none;
                            }
                        }
                    }
                    &__content {
                        height: 100%;
                        overflow: auto;
                        overflow-x: hidden;
                        h4 {
                            font-size: 25px;
                            padding: 20px 5% 0;
                            font-family: 'Corporate SL';
                            font-weight: normal;
                            margin-bottom: -15px;
                        }

                        .columns {
                            margin: 0;
                        }

                        .specs {
                            padding: 0;
                            margin: 30px 13px 10px;
                            width: 90%;
                            tr {
                                td {
                                    padding: 1px 10px 0;
                                    font-size: 14px;
                                    &.name {
                                        margin-right: -5px;
                                        position: relative;
                                        display: block;
                                        vertical-align: middle;
                                        display: table-cell;
                                        height: 27px;
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
                
                &__content {
                    padding-top: 50px;
                }
            }

            &__content {
                &__sedan, &__coupe, &__cabriolet {
                    clear: both;
                    position: relative;
                    &:before {
                        display: none;
                    }

                    img {
                        margin: 0 auto;
                    }

                    .slick-prev { 
                        position: absolute;
                        left: 0;
                        top: 25vw;
                        margin: auto;
                        height: 50px;
                        background: url(../images/arrow-blue.png) no-repeat center center;
                        border: 0;
                        font-size: 0;
                        max-width: 40px;
                        outline: 0;
                        cursor: pointer;
                        background-size: 100%;
                        width: 100%;
                        z-index: 20;
                        transform: rotate(-180deg);
                        &.slick-disabled {
                            opacity: 0;
                        }
                    }
            
                    .slick-next { 
                        position: absolute;
                        right: 0;
                        top: 25vw;
                        margin: auto;
                        height: 50px;
                        background: url(../images/arrow-blue.png) no-repeat center center;
                        border: 0;
                        font-size: 0;
                        max-width: 40px;
                        outline: 0;
                        cursor: pointer;
                        background-size: 100%;
                        width: 100%;
                        z-index: 20;
                        &.slick-disabled {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .models {
        padding: 0 20px;
        &__container {
            &__header {
                .tabs {
                    margin-bottom: 50px;
                    li {
                        padding: 10px 0;
                        width: 93px;
                    }
                }
            }
            &__content {
                &__sedan, &__coupe, &__cabriolet {
                    .view-more {
                        padding: 12px 10px 12px 15px;
                        border: none;
                        color: white;
                        font-size: 17px;
                        font-weight: 100;
                        font-family: 'Corporate SL';
                        letter-spacing: .5px;
                        max-width: 135px;
                        width: 100%;
                        background-size: 12px;
                        margin-top: 20px;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                    }
                    .slick-prev { 
                        position: absolute;
                        left: 0;
                        top: 25vw;
                        margin: auto;
                        height: 50px;
                        background: url(../images/arrow-blue.png) no-repeat center center;
                        border: 0;
                        font-size: 0;
                        max-width: 20px;
                        outline: 0;
                        cursor: pointer;
                        background-size: 100%;
                        width: 100%;
                        transform: rotate(-180deg);
                    }
            
                    .slick-next { 
                        position: absolute;
                        right: 0;
                        top: 25vw;
                        margin: auto;
                        height: 50px;
                        background: url(../images/arrow-blue.png) no-repeat center center;
                        border: 0;
                        font-size: 0;
                        max-width: 20px;
                        outline: 0;
                        cursor: pointer;
                        background-size: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}