#privacy
{
	position: fixed;
	display: none;
	padding: 10px;
	z-index: 500;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	&.show 
	{
		display: block;
	}

	.content-privacy
	{
		background-color: rgba(0,0,0,0.8);
		position: absolute;
		padding: 0 10px;
		height: 100%;
		width: 100%;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;

		.info-privacy
		{
			transform: translate3d(-50.5%, -50.5%, 0);
			background-color: #1e1e1e;
			border: 2px $blue solid;
			text-align: center;
			position: relative;
			transition: $ease;
			max-width: 430px;
			z-index: 100;
			width: 100%;
			left: 51%;
			top: 51%;

			&.show
			{
				display: block;
			}

			div.box-privacy
			{
				position: relative;
				overflow: hidden;
				height: 100%;
				width: 100%;

				a 
				{
					position: absolute;
					max-height: 60px;
					display: block;
					opacity: 0.8;
					height: 100%;
					width: 60px;
					right: 0;
					top: 0;

					&:hover
					{
						opacity: 1;
					}

					i 
					{
						background-image: url(../images/ico-info-close.png);
						background-repeat: no-repeat;
						background-position: center;
						background-color: $blue;
						background-size: 60%;
						position: absolute;
						height: 20px;								
						width: 27px;
						right: 0;
						top: 0;
					}
				}

				.box-middle
				{
					padding: 30px 5px 10px 20px;
					display: block;
					height: 100%;
                    width: 100%;
                    box-sizing: border-box;

					div.text 
					{
						vertical-align: middle;
						max-height: 400px;
						text-align: left;
						display: block;

						h2, p 
						{
							font-weight: 100;
							margin: 0 auto;
						}

						h2 
						{
							line-height: 26px;
							margin-top: 10px;
							font-size: 26px;
                            color: $blue;
                            font-family: 'Corporate A Condensed';
						}

						p 
						{
							margin: 5px 0 20px 0;
							line-height: 20px;
							text-align: left;
							font-size: 15px;
                            color: $white;
							font-family: 'arial';
							word-break: break-word;
						}
					}
				}
			}
		}
	}
}


@media (max-width: 1023px) {
    #privacy {
        .content-privacy {
            .info-privacy {
                max-width: 85%;
                z-index: 100;
                width: 100%;
                left: 48%;
            }
        }
    }
}