.video-campaing {
    width: 100%;
    position: relative;
    height: 100%;
    background: black;
    margin-top: -1px;
    max-height: 750px;
    padding-bottom: 0;
    box-sizing: border-box;
    &__container {
        height: 100%;
        width: 100%;
        position: relative;
        iframe {
            position: relative;
            height: 100%;
            max-height: 540px;
            margin-top: 70px;
        }
        h4 {
            font-size: 52px;
            position: relative;
            top: 50px;
            color: white;
            font-family: 'Corporate A Condensed';
            font-weight: normal;
            left: -2px;
        }
    }
}

@media (max-width: 1023px) {
    .video-campaing {
        height: auto;
        padding-bottom: 0;
        &__container {
            h4 {
                font-size: 40px;
            }
            iframe {
                height: 420px;
                padding-bottom: 40px;
            }
        }
    }
}