<section class="features" id="tecnologia">
	<div class="row">
		<div class="features__container hide-mobile inner">
			<h4>Ainda mais esportivo e tecnológico</h4>
			<div class="wide-row">
				<div class="seven columns paragraph fix2">
					<h3>EQ Boost</h3>
					<p> O Novo Classe C está ainda mais esportivo e seguro com a tecnologia EQ Boost. Um motor elétrico, que faz a função de alternador, e é capaz de proporcionar potência extra no momento da aceleração com 14 cv de potência, além de 160 Nm de torque. Isso é mais aceleração, maior eficiência nas trocas das marchas, mais força e maior economia de combustível. </p>
				</div>
				<div class="five columns align-right">
					<img alt="EQ Boost" src="./images/features/EQ-Boost.jpg" />
				</div>
			</div>
			<div class="wide-row">
				<div class="five columns">
					<img alt="Active Break Assist" src="./images/features/Active-Brake-Assist.jpg" />
				</div>
				<div class="seven columns align-right paragraph fix">
					<h3>Active Brake Assist</h3>
					<p>Sistema de assistência de frenagem que é capaz de reduzir impactos em caso de colisão ou atropelamento. O sistema possui avisos sonoros e visuais que alertam o motorista em caso de colisão iminente, além de aumentar a capacidade de frenagem caso necessário. Mais segurança para sua viagem.</p>
				</div>
			</div>
			<div class="full-row">
				<div class="twelve columns">
					<img alt="Conectividade" src="./images/features/Conectividade_Desktop.jpg" />
				</div>
				<div class="twelve columns align-right paragraph">
					<h3>Conectividade</h3>
					<p>Sistema multimídia com integração para smartphones (Apple CarPlay® e Android Auto®), incluindo o aplicativo Waze.  Sua navegação mais segura e prática.</p>
				</div>
			</div>

			<div class="wide-row">
				<div class="seven columns paragraph">
					<h3>Novo Cockpit Digital</h3>
					<p>Tenha todas as informações com mais nitidez numa tela de 12,3", seja qual for a condição de iluminação. Além de personalizar os dados que aparecem na tela.</p>
				</div>
				<div class="five columns align-right">
					<img alt="Novo Cockpit Digital" src="./images/features/Novo-Cockpit-Digital.jpg" />
				</div>
			</div>
			<div class="wide-row">
				<div class="five columns">
					<img alt="Dynamic Select" src="./images/features/Dynamic-Select.jpg" />
				</div>
				<div class="seven columns align-right paragraph">
					<h3>Dynamic Select</h3>
					<p>Escolha diferentes modos de condução e altere parâmetros de motor, transmissão, suspensão e direção. São 4 modos já predefinidos: ECO, Comfort, Sport e Individual. </p>
				</div>
			</div>
		</div>
		<div class="features__container hide-desktop inner">
			<h4> Ainda mais esportivo e tecnológico</h4>
			<div class="wide-row">
				<div class="features__container slide">
					<div class="twelve columns features__container__item">
						<img alt="EQ Boost" src="./images/features/EQ-Boost.jpg" />
						<div class="content-box">
							<h3>EQ Boost</h3>
							<p> O Novo Classe C está ainda mais esportivo e seguro com a tecnologia EQ Boost. Um motor elétrico, que faz a função de alternador, e é capaz de proporcionar potência extra no momento da aceleração com 14 cv de potência, além de 160 Nm de torque. Isso é mais aceleração, maior eficiência nas trocas das marchas, mais força e maior economia de combustível.</p>
						</div>
					</div>
					<div class="twelve columns features__container__item">
						<img alt="Active Brake Assist" src="./images/features/Active-Brake-Assist.jpg" />
						<div class="content-box">
							<h3>Active Brake Assist</h3>
							<p>Sistema de assistência de frenagem que é capaz de reduzir impactos em caso de colisão ou atropelamento. O sistema possui avisos sonoros e visuais que alertam o motorista em caso de colisão iminente, além de aumentar a capacidade de frenagem caso necessário. Mais segurança para sua viagem.</p>
						</div>
					</div>
					<div class="twelve columns features__container__item">
						<img alt="Conectividade" src="./images/features/Conectividade_Mobile.jpg" />
						<div class="content-box">
							<h3>Conectividade</h3>
							<p>Sistema multimídia com integração para smartphones (Apple CarPlay® e Android Auto®), incluindo o aplicativo Waze.  Sua navegação mais segura e prática.</p>
						</div>
					</div>
					<div class="twelve columns features__container__item">
						<img alt="Novo Cockpit Digital" src="./images/features/Novo-Cockpit-Digital.jpg" />
						<div class="content-box">
							<h3>Novo Cockpit Digital</h3>
							<p>Tenha todas as informações com mais nitidez numa tela de 12,3", seja qual for a condição de iluminação. Além de personalizar os dados que aparecem na tela.</p>
						</div>
					</div>
					<div class="twelve columns features__container__item">
						<img alt="Dynamic Select" src="./images/features/Dynamic-Select.jpg" />
						<div class="content-box">
							<h3>Dynamic Select</h3>
							<p>Escolha diferentes modos de condução e altere parâmetros de motor, transmissão, suspensão e direção. São 4 modos já predefinidos: ECO, Comfort, Sport e Individual.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
      <div class="general__arrow-down general__arrow-down-mini" data-scroll="models" data-anchor="modelos">
        <img alt="Ir para próxima seção" src="./images/arrow_down_mini_black.png?v=1">
      </div>
	</div>
</section>