<div class="form__ico hide-desktop"></div>

<div class="form">
    <div class="form__close hide-desktop"></div>
    <div class="form__ico hide-mobile"></div>
    <div class="form__container">
        <h3 class="title">
            Entre em contato para saber mais
        </h3>
        <div class="success">
            <div class="success__content">
                <h4> ENVIADO COM SUCESSO </h4>
                <p>Em breve entraremos em contato.</p>

                <button> Voltar </button>
            </div>
        </div>
        <div class="message-error">
            <div class="message-error__content">
                <h4> MENSAGEM NÃO ENVIADA </h4>
                <p>Algo errado ocorreu, tente novamente.</p>

                <button> Voltar </button>
            </div>
        </div>
        <form id="lead">
            <input type="hidden" name="form_car" value="Site Novo Classe C Facelift" />
            <label class="select-label">
                <select name="form_assunto" class="form_assunto" id="form_assunto">
                    <option value="" selected> Selecione um assunto... </option>
                    <option value="informacao"> Informação </option>
                    <option value="test-drive"> Agendamento de test-drive </option>
                    <option value="proposta-comercial"> Solicitação de proposta comercial </option>
                    <option value="outros"> Outros </option> 
                </select>
            </label>
            <label class="select-label">
                <select name="form_estado" class="form_estado" id="form_estado">
                    <option value="" selected> Selecione um estado...</option>
                </select>
            </label>
            <label class="select-label">
                <select name="form_cidade" class="form_cidade" id="form_cidade" disabled>
                    <option value="" selected> Selecione uma cidade...</option>
                </select>
            </label>
            <label class="select-label">
                <select name="form_concessionaria" class="form_concessionaria" id="form_concessionaria" disabled>
                    <option value="" selected> Selecione uma concessionária..</option>
                </select>
            </label>
            <label class="select-label">
                <input type="text" name="form_nome" class="form_nome" id="form_nome" placeholder="Nome" />
            </label>
            <label class="select-label">
                <input type="text" name="form_telefone" class="form_telefone" id="form_telefone" placeholder="Telefone" />
            </label>
            <label class="select-label">
                <input type="text" name="form_email" class="form_email" id="form_email" placeholder="Email" />
            </label>
            <label class="select-label">
                <input type="text" name="form_comentario" class="form_comentario" id="form_comentario" placeholder="Deixe seu comentario" />
            </label>

            <label class="select-label custom-checkbox">
                <input type="checkbox" name="form_termos" id="form_termos">
                <span class="checkmark"></span>
                Li e concordo com a <span class="highlight">Declaração de Privacidade</span>
            </label>

            <div class="send-options">
                <div class="recaptcha">
                    <div class="g-recaptcha" data-sitekey="6LfKZXIUAAAAADoHJaIkuOFF40iX01a2kO-NfEz9"></div>
                </div>
                <div class="send__form">
                    <button type="submit" class="send__form-btn">
                        ENVIAR
                    </button>
                </div>
            </div>

            <input type="hidden" name="utm_source"   value="">
            <input type="hidden" name="utm_medium"   value="">
            <input type="hidden" name="utm_campaign" value="">
            <input type="hidden" name="utm_content"  value="">
            <input type="hidden" name="car" id="car" value="novo-classe-c">

        </form>
    </div>
</div>