<section class="gallery no-padding" id="galeria">
	<div class="row">
		<h3 class='title inner'>Galeria</h3>
		<div class="gallery__container hide-mobile">
			<div class="gallery__container__item">
				<img alt="Novo Cockpit Digital" id="zoom6" src="./images/gallery/6.jpg" data-zoom-image="./images/gallery/6_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Novo Cockpit Digital</h4>
					<p>C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Sistema Multimídia com Integração para Smartphones" id="zoom7" src="./images/gallery/7.jpg" data-zoom-image="./images/gallery/7_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Sistema Multimídia com Integração para Smartphones</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Grade Cromada" id="zoom1" src="./images/gallery/1.jpg" data-zoom-image="./images/gallery/1_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Grade Cromada</h4>
					<p>C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Faróis Full LED" id="zoom2" src="./images/gallery/2.jpg" data-zoom-image="./images/gallery/2_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Faróis Full LED</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Luzes Traseiras" id="zoom3" src="./images/gallery/3.jpg" data-zoom-image="./images/gallery/3_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Luzes Traseiras</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Madeira Black Ash Open Pore" id="zoom4" src="./images/gallery/4.jpg" data-zoom-image="./images/gallery/4_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Madeira Black Ash Open Pore</h4>
					<p>C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Câmbio 9 Marchas" id="zoom5" src="./images/gallery/5.jpg" data-zoom-image="./images/gallery/5_xl.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Câmbio 9 Marchas</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
		</div>
		<div class="gallery__container hide-desktop">
			<div class="gallery__container__item">
				<img alt="Novo Cockpit Digital" id="zoom6_mobile" src="./images/gallery/6.jpg" data-zoom-image="./images/gallery/6_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Novo Cockpit Digital</h4>
					<p>C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Sistema Multimídia com Integração para Smartphones"  id="zoom7_mobile" src="./images/gallery/7.jpg" data-zoom-image="./images/gallery/7_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Sistema Multimídia com Integração para Smartphones</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Grade Cromada" id="zoom1_mobile" src="./images/gallery/1.jpg" data-zoom-image="./images/gallery/1_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Grade Cromada</h4>
					<p>C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Faróis Full LED" id="zoom2_mobile" src="./images/gallery/2.jpg" data-zoom-image="./images/gallery/2_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Faróis Full LED</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Luzes Traseiras" id="zoom3_mobile" src="./images/gallery/3.jpg" data-zoom-image="./images/gallery/3_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Luzes Traseiras</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Madeira Black Ash Open Pore" id="zoom4_mobile" src="./images/gallery/4.jpg" data-zoom-image="./images/gallery/4_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Madeira Black Ash Open Pore</h4>
					<p>C 300 Sport</p>
				</div>
			</div>
			<div class="gallery__container__item">
				<img alt="Câmbio 9 Marchas" id="zoom5_mobile" src="./images/gallery/5.jpg" data-zoom-image="./images/gallery/5_xl_mobile.jpg"/>
				<div class="gallery__container__item__highlight">
					<h4>Câmbio 9 Marchas</h4>
					<p>C 180 Avantgarde | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</p>
				</div>
			</div>
		</div>
		<div class="zoom hide-mobile"></div>
		<div class="zoom mobile hide-desktop"></div>
		<div class="general__arrow-down general__arrow-down-mini" data-scroll="features" data-anchor="tecnologia">
			<img alt="Ir para próxima seção" src="./images/arrow_down_mini_white.png?v=1">
		</div>
	</div>
</section>
