<section class="highlight no-padding" id="classec">
  <div class="row">
      <div class="inner title">
          <h4>Não pare de evoluir.</h4>
          <p>Novo Classe C.</p>
      </div>
      <div class="highlight__item"></div>
      <div class="highlight__fade"></div>
      <div class="general__arrow-down general__arrow-down--bounce" data-scroll="video-campaing" data-anchor="surpreendase">
        <img alt="Ir para próxima seção" src="./images/arrow_down.png?v=1">
      </div>
  </div>
</section>