<section class="hotspot no-padding"  id="novidades">
  <div class="row">
      <div class="inner title">
          <h4>Novidades</h4>
          {{!-- <p>Novo Classe C. Mais esportivo e tecnológico.</p> --}}
      </div>
      <div class="hotspot__container">
          <div class="hide-mobile">
            <div class="hotspot__container__internal">
                <div class="hotspot__disclaimer">
                    Imagem referente ao modelo C 300 Sport
                </div>
                <img style="opacity: 0" alt="Foto da parte externa do modelo C 300 sport" src="./images/hotspot/c-hotspot_internal.jpg" class="img-responsive"/>
                <div class="hotspot-item hide-mobile" data-x="450" data-y="392" data-item="item"> 
                    <!-- <div class="title-tip">Active Brake Assist</div> -->
                    <div class="circle"></div>
                    <div class="tooltip single">
                        <div class="close"><i class="fas fa-times"></i></div>
                        <h4 class="title">Active Brake Assist</h4>
                        <div class="text-row">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive  <br />C 200 EQ Boost | C 300 Sport </strong></p>
                            <p>Sistema de assistência de frenagem que é capaz de reduzir impactos em caso de colisão ou atropelamento. O sistema possui avisos sonoros e visuais que alertam o motorista em caso de colisão iminente, além de aumentar a capacidade de frenagem caso necessário.</p>
                        </div>
                    </div>
                </div>
                <div class="hotspot-item hide-mobile" data-x="490" data-y="562" data-item="item">
                    <!-- <div class="title-tip two-lines"> Novo Volante com Touch Control </div> -->
                    <div class="circle"></div>
                    <div class="tooltip single">
                        <div class="close"><i class="fas fa-times"></i></div>
                        <h4 class="title">Novo Volante com Touch Control</h4>
                        <div class="text-row">
                            <p><strong>C 180 Avantgarde | C 180 Exclusive <br /> C 200 EQ Boost | C 300 Sport </strong></p>
                            <p>Nova geração do volante multifuncional com acabamento em couro preto e botões Touch Control. Tecnologia que permite operar o painel de instrumentos e o sistema multimídia de forma mais intuitiva, com um simples deslizar de dedo.</p>
                        </div>
                    </div>
                </div>
                <div class="hotspot-item hide-mobile" data-x="660" data-y="452" data-item="item">
                    <!-- <div class="title-tip">Novo Cockpit Digital</div> -->
                    <div class="circle"></div>
                    <div class="tooltip single">
                        <div class="close"><i class="fas fa-times"></i></div>
                        <h4 class="title">Novo Cockpit Digital</h4>
                        <div class="text-row">
                            <p><strong>C 200 EQ Boost | C 300 Sport </strong></p>
                            <p>Em uma nova tela de 12,3", são exibidas informações de forma nítida em qualquer condição de iluminação. Além disso, é possível personalizar o estilo como esses dados aparecem. </p>
                        </div>
                    </div>
                </div>
                <div class="hotspot-item hide-mobile" data-x="740" data-y="542" data-item="item">
                    <!-- <div class="title-tip">EQ Boost</div> -->
                    <div class="circle"></div>
                    <div class="tooltip single">
                        <div class="close"><i class="fas fa-times"></i></div>
                        <h4 class="title">EQ Boost</h4>
                        <div class="text-row">
                            <p><strong>C 200 EQ Boost</strong></p>
                            <p>Um motor elétrico, que faz a função de alternador, e é capaz de proporcionar potência extra no momento da aceleração com 14 cv de potência, além de 160 Nm de torque. Isso é mais aceleração, maior eficiência nas trocas das marchas, mais força e maior economia de combustível. </p>
                        </div>
                    </div>
                </div>
                <div class="hotspot-item hide-mobile" data-x="840" data-y="630" data-item="item">
                    <!-- <div class="title-tip">Botão KEYLESS-GO</div> -->
                    <div class="circle"></div>
                    <div class="tooltip single">
                        <div class="close"><i class="fas fa-times"></i></div>
                        <h4 class="title">Botão KEYLESS-GO</h4>
                        <div class="text-row">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive  <br /> C 200 EQ Boost | C 300 Sport </strong></p>
                            <p>Novo design de botão para a função KEYLESS-GO, que permite dar a partida no veículo com um toque, sem ter a necessidade de inserir a chave na ignição.</p>
                        </div>
                    </div>
                </div>
                <div class="hotspot-item hide-mobile" data-x="1150" data-y="392" data-item="item">
                    <!-- <div class="title-tip two-lines bigger">Sistema Multimídia com integração para smartphone</div> -->
                    <div class="circle"></div>
                    <div class="tooltip">
                        <div class="close"><i class="fas fa-times"></i></div>
                        <h4 class="title">Sistema Multimídia com Integração para Smartphones</h4>
                         <div class="slide-content">
                            <div class="slide-item">
                                <div class="img-container">
                                    <div class="img-row">
                                        <img alt="Sistema Multimídia com integração para smartphone" src="./images/hotspot/internal_thumbs/C-200-e-300---Display-Radio.jpg">
                                    </div>
                                </div>
                                <div class="text-desc">
                                   C 200 EQ Boost | C 300 Sport
                                </div>
                                <div class="text-row">
                                    <p>Sistema multimídia renovado com novas telas centrais de 7” e 10,2” e integração com smartphone. Por meio dos sistemas Apple CarPlay® e Android Auto® é possível ter acesso a alguns dos seus principais aplicativos, como Spotify e Waze, de maneira rápida e fácil.
                                    </p>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class="img-container">
                                    <div class="img-row">
                                        <img alt="Sistema Multimídia com integração para smartphone" src="./images/hotspot/internal_thumbs/c180.jpg">
                                    </div>
                                </div>
                                <div class="text-desc">
                                    C 180 Avantgarde  | C 180 Exclusive
                                </div>
                                <div class="text-row">
                                    <p>Sistema multimídia renovado com novas telas centrais de 7” e 10,2” e integração com smartphone. Por meio dos sistemas Apple CarPlay® e Android Auto® é possível ter acesso a alguns dos seus principais aplicativos, como Spotify e Waze, de maneira rápida e fácil.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="fade"></div>
                    </div>
                </div>
            </div>
                <div class="hotspot__container__external">
                    <div class="hotspot__disclaimer">
                        Imagem referente ao modelo C 300 Sport
                    </div>
                    <img style="opacity: 0" alt="Foto da parte interna do modelo C 300 sport"  src="./images/hotspot/c-hotspot_internal.jpg" class="img-responsive"/>

                    <div class="hotspot-item hide-mobile" data-item="item" data-x="1040" data-y="785">
                        <!-- <div class="title-tip">Rodas</div> -->
                        <div class="circle"></div>
                        <div class="tooltip top-align">
                            <div class="close"><i class="fas fa-times"></i></div>
                            <h4 class="title">Rodas</h4>
                            <div class="slide-content">
                                <div class="slide-item">
                                    <div class="img-container">
                                        <div class="img-row">
                                            <img alt="Rodas C 300 Sport" src="./images/hotspot/external_thumbs/c300.jpg">
                                        </div>
                                    </div>
                                    <div class="text-desc">
                                        C 300 Sport
                                    </div>
                                    <div class="text-row">
                                        <p>Nova roda AMG de 18” com cinco raios.</p>
                                    </div>
                                </div>
                                <div class="slide-item">
                                    <div class="img-container">
                                        <div class="img-row">
                                            <img alt="Rodas C 180 Avantgarde | C 200 EQ Boost" src="./images/hotspot/external_thumbs/c180av.jpg">
                                        </div>
                                    </div>
                                    <div class="text-desc">
                                        C 180 Avantgarde | C 200 EQ Boost
                                    </div>
                                    <div class="text-row">
                                        <p>Nova roda de 17” com cinco raios duplos.</p>
                                    </div>
                                </div>
                                <div class="slide-item">
                                    <div class="img-container">
                                        <div class="img-row">
                                            <img alt="Rodas C 180 Exclusive" src="./images/hotspot/external_thumbs/c180ex.jpg">
                                        </div>
                                    </div>
                                    <div class="text-desc">
                                        C 180 Exclusive
                                    </div>
                                    <div class="text-row">
                                        <p>Nova roda de 17” com dez raios.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fade"></div>
                        </div>
                    </div>
                    <div class="hotspot-item hide-mobile" data-item="roof" data-x="700" data-y="605">
                        <!-- <div class="title-tip two-lines external bottom">Grade Diamante Cromada</div> -->
                        <div class="circle"></div>
                        <div class="tooltip single">
                            <div class="close"><i class="fas fa-times"></i></div>
                            <h4 class="title">Grade Diamante Cromada</h4>
                            <div class="text-row">
                                <p><strong>C 300 Sport</strong></p>
                                <p>Grade frontal diamante com elementos cromados e acabamento em preto alto brilho.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hotspot-item hide-mobile" data-item="roof" data-x="680" data-y="505">
                        <!-- <div class="title-tip external">Motorizações</div> -->
                        <div class="circle"></div>
                        <div class="tooltip single top-align motor">
                            <div class="close"><i class="fas fa-times"></i></div>
                            <h4 class="title">Motorizações</h4>
                            <div class="text-row">
                                <p>Novas motorizações turbo: C 200 com tecnologia EQ Boost (Potência: 183 cv + 14 cv | Torque: 280 Nm + 160 Nm) e C 300 Sport (Potência: 258 cv | Torque: 370 Nm).</p>
                            </div>
                        </div>
                    </div>
                    <div class="hotspot-item hide-mobile" data-item="roof" data-x="930" data-y="585">
                        <!-- <div class="title-tip external">Novos Faróis Full LED</div> -->
                        <div class="circle"></div>
                        <div class="tooltip single">
                            <div class="close"><i class="fas fa-times"></i></div>
                            <h4 class="title">Novos Faróis Full LED</h4>
                            <div class="text-row">
                                <p><strong>C 180 Avantgarde  | C 180 Exclusive  <br /> C 200 EQ Boost | C 300 Sport</strong></p>
                                <p>Faróis Full LED de alta performance com novo design, ainda mais marcante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hotspot-item hide-mobile" data-item="roof" data-x="1450" data-y="530">
                        <!-- <div class="title-tip two-lines external">Novas Lanternas Traseiras</div> -->
                        <div class="circle"></div>
                        <div class="tooltip single">
                            <div class="close"><i class="fas fa-times"></i></div>
                            <h4 class="title">Novas Lanternas Traseiras</h4>
                            <div class="text-row">
                                <p><strong>C 180 Avantgarde  | C 180 Exclusive  <br /> C 200 EQ Boost | C 300 Sport</strong></p>
                                <p>Luzes traseiras com novo design interno.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
          </div>  

          <div class="hide-desktop">
            <div class="hotspot__container__internal mobile">
                <img alt="Foto da parte interna do modelo C 300 sport"  src="./images/hotspot/c-hotspot_internal_mobile.jpg" class="img-responsive"/>
                
            </div>
                <div class="hotspot__container__external mobile">
                    <img alt="Foto da parte externa do modelo C 300 sport"  src="./images/hotspot/c-hotspot_external_mobile.jpg" class="img-responsive"/>
                </div>
          </div>  


          <div class="hotspot__container__nav">
            <div data-hotspot="external" class="hotspot__container__nav__external actived">
                Exterior
            </div>
            <div data-hotspot="internal" class="hotspot__container__nav__internal">
                Interior
            </div>
          </div>

          <div class="mobile-slide hide-desktop" >
            <div class="hotspot__container__internal--mobile" style="display: none">
                <div class="tooltip mobile-slide__item fix">
                    <h4 class="title">Sistema Multimídia com Integração para Smartphones</h4>
                    <div class="mobile-slide-content">
                        <div class="mobile-slide__gallery">
                            <div class="img-container">
                                <div class="img-row mobile">
                                    <img alt="Sistema Multimídia com integração para smartphone" src="./images/hotspot/internal_thumbs/C-200-e-300---Display-Radio.jpg">
                                </div>
                            </div>
                            <div class="text-desc">
                                C 200 EQ Boost  <br/>  C 300 Sport
                            </div>
                            <div class="text-row mobile">
                                <p>Sistema multimídia renovado com novas telas centrais de 7” e 10,2” e integração com smartphone. Por meio dos sistemas Apple CarPlay® e Android Auto® é possível ter acesso a alguns dos seus principais aplicativos, como Spotify e Waze, de maneira rápida e fácil.
                                </p>
                            </div>
                        </div>
                        <div class="mobile-slide__gallery">
                            <div class="img-container">
                                <div class="img-row">
                                    <img alt="Sistema Multimídia com integração para smartphone" src="./images/hotspot/internal_thumbs/c180.jpg">
                                </div>
                            </div>
                            <div class="text-desc">
                                C 180 Avantgarde  <br/>  C 180 Exclusive
                            </div>
                            <div class="text-row mobile">
                                <p>Sistema multimídia renovado com novas telas centrais de 7” e 10,2” e integração com smartphone. Por meio dos sistemas Apple CarPlay® e Android Auto® é possível ter acesso a alguns dos seus principais aplicativos, como Spotify e Waze, de maneira rápida e fácil.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fade"></div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Active Brake Assist</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive <br> C 200 EQ Boost | C 300 Sport</strong></p>
                            <p>Sistema de assistência de frenagem que é capaz de reduzir impactos em caso de colisão ou atropelamento. O sistema possui avisos sonoros e visuais que alertam o motorista em caso de colisão iminente, além de aumentar a capacidade de frenagem caso necessário.</p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Novo Volante com Touch Control</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</strong></p>
                            <p>Nova geração do volante multifuncional com acabamento em couro preto e botões Touch Control. Tecnologia que permite operar o painel de instrumentos e o sistema multimídia de forma mais intuitiva, com um simples deslizar de dedo.</p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Novo Cockpit Digital</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</strong></p>
                            <p>Em uma nova tela de 12,3", são exibidas informações de forma nítida em qualquer condição de iluminação. Além disso, é possível personalizar o estilo como esses dados aparecem. </p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">EQ Boost</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 200 EQ Boost</strong></p>
                            <p>Um motor elétrico, que faz a função de alternador, e é capaz de proporcionar potência extra no momento da aceleração com 14 cv de potência, além de 160 Nm de torque. Isso é mais aceleração, maior eficiência nas trocas das marchas, mais força e maior economia de combustível.</p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Botão KEYLESS-GO</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</strong></p>
                            <p>Novo design de botão para a função KEYLESS-GO, que permite dar a partida no veículo com um toque, sem ter a necessidade de inserir a chave na ignição.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="hotspot__container__external--mobile">
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Rodas</h4>
                    <div class="mobile-slide-content">
                        <div class="mobile-slide__gallery">
                            <div class="img-container">
                                <div class="img-row mobile">
                                    <img alt="C 300 Sport" src="./images/hotspot/external_thumbs/c300.jpg">
                                </div>
                            </div>
                            <div class="text-desc">
                                C 300 Sport
                            </div>
                            <div class="text-row mobile">
                                <p>Nova roda AMG de 18” com cinco raios.</p>
                            </div>
                        </div>
                        <div class="mobile-slide__gallery">
                            <div class="img-container">
                                <div class="img-row">
                                    <img alt="C 180 Avantgarde | C 200 EQ Boost" src="./images/hotspot/external_thumbs/c180av.jpg">
                                </div>
                            </div>
                            <div class="text-desc">
                                C 180 Avantgarde <br/> C 200 EQ Boost
                            </div>
                            <div class="text-row">
                                <p>Nova roda de 17” com cinco raios duplos.</p>
                            </div>
                        </div>
                        <div class="mobile-slide__gallery">
                            <div class="img-container">
                                <div class="img-row">
                                    <img alt="C 180 Exclusive" src="./images/hotspot/external_thumbs/c180ex.jpg">
                                </div>
                            </div>
                            <div class="text-desc">
                                C 180 Exclusive
                            </div>
                            <div class="text-row">
                                <p>Nova roda de 17” com dez raios.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fade"></div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Grade Diamante Cromada</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 300 Sport</strong></p>
                            <p>Grade frontal diamante com elementos cromados e acabamento em preto alto brilho.</p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Motorizações</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p>Novas motorizações turbo: C 200 com tecnologia EQ Boost (Potência: 183 cv + 14 cv | Torque: 280 Nm + 160 Nm) e C 300 Sport (Potência: 258 cv | Torque: 370 Nm).</p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Novos Faróis Full LED</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</strong></p>
                            <p>Faróis Full LED de alta performance com novo design, ainda mais marcante.</p>
                        </div>
                    </div>
                </div>
                <div class="tooltip mobile-slide__item">
                    <h4 class="title">Novas Lanternas Traseiras</h4>
                    <div class="mobile-slide__gallery">
                        <div class="text-row mobile">
                            <p><strong>C 180 Avantgarde  | C 180 Exclusive <br/> C 200 EQ Boost | C 300 Sport</strong></p>
                            <p>Luzes traseiras com novo design interno.</p>
                        </div>
                    </div>
                </div>             
            </div>
          </div>
      </div>
      <div class="general__arrow-down general__arrow-down-mini" data-scroll="gallery" data-anchor="galeria">
        <img alt="Ir para próxima seção" src="./images/arrow_down_mini_black.png?v=1">
      </div>
  </div>
</section>
