<section class="models" id="modelos">
  <div class="row">
    <div class="models__container inner">
        <header class="models__container__header">
            <div class="two columns">
                <h4 class="title">Modelos</h4>
            </div>
            <div class="seven columns tabs">
                <ul>
                    <li data-models="sedan" class="actived">Sedan</li>
                    <li data-models="coupe">Coupé</li>
                    {{!--<li data-models="cabriolet">Cabriolet</li>--}}
                </ul>
            </div>
        </header>
       <div class="models__container__content hide-mobile">
            <div class="models__container__content__sedan">
                <div class="models__container__content__sedan__title">
                    Sedan
                </div> 
            </div>
            <div class="models__container__content__coupe">
                <div class="models__container__content__coupe__title">
                    Coupé
                </div> 
            </div>
            {{!--<div class="models__container__content__cabriolet">
                <div class="models__container__content__cabriolet__title">
                    Cabriolet
                </div> 
            </div>--}}
       </div>

        <div class="models__container__content-mobile hide-desktop">
            <div class="models__container__content__sedan"></div>
            <div class="models__container__content__coupe"></div>
            {{!--<div class="models__container__content__cabriolet"></div>--}}
       </div>

        <div class="models__container__modal">
            <header>
                <div class="closeModal">
                    <i class="fas fa-times"></i>
                </div>
            </header>
        </div>
    </div>
      <div class="general__arrow-down general__arrow-down-mini general__arrow-down-mini-bottom" data-scroll="maps" data-anchor="concessionarias">
        <img alt="Ir para próxima seção" src="./images/arrow_down_mini_black.png?v=1">
      </div>
  </div>
</section>
