<div id="privacy">
    <div class="content-privacy">
		<div class="info-privacy">
			<div class="box-privacy">
				<a href="javascript:void(0);" title="Fechar" target="_self">
					<i>&nbsp;</i>
				</a>
				<div class="box-middle">
					<div class="text style-scroll">
						<h2>Declaração de Privacidade</h2>
						<p>A Mercedes-Benz agradece seu interesse por seus produtos e sua visita a este site da web. Sua privacidade é importante para nós e queremos que você se sinta confortável visitando nossos sites. A proteção de sua privacidade no processamento de seus dados pessoais é uma preocupação importante à qual prestamos atenção especial durante nossos processos empresariais. <br/> Dados pessoais coletados durante visitas a nossos sites da Web são processados por nós de acordo com as determinações legais válidas para os países onde os sites da Web são mantidos. Além disso, nossa política de proteção de dados atende ao Código de Conduta aplicável em toda a companhia. Os sites da Web da Mercedes-Benz podem incluir, entretanto, conexões com outros sites da Web que não estão cobertos por esta declaração de privacidade.</p>

						<h2>Coleta e Processamento de Dados Pessoais</h2>
						<p>Quando você visita nossos sites da Web, nosso servidor automaticamente registra seu endereço IP, o site da Web a partir do qual você nos visita, as páginas, a data e a duração de sua visita.<br/>
						Dados pessoais somente são armazenados se disponibilizados voluntariamente por você, por exemplo, no contexto de um registro, pesquisa, concurso ou na execução de um contrato.</p>

						<h2>Uso e Revelação de Dados Pessoais. Especificação de Finalidade</h2>
						<p>A Mercedes-Benz utilizará seus dados pessoais para a finalidade única de administração técnica dos sites da Web, atendimento e administração de clientes, pesquisas e marketing de produtos, somente até o ponto necessário em cada caso específico.<br/>Nós apenas revelaremos seus dados a autoridades governamentais nos casos exigidos por lei. Nossos colaboradores e agências de publicidade são orientados por nós a respeitar a confidencialidade.</p>

						<h2>Liberdade de Escolha</h2>
						<p>Nós gostaríamos de usar seus dados para informá-lo sobre nossos produtos e serviços e sempre que aplicável solicitar sua opinião.<br/>Naturalmente, sua participação é totalmente voluntária. Se você não consentir, você pode nos informar a qualquer hora para que possamos proibir especificamente o uso de seus dados. Por favor, vide serviços locais do site da marca para instruções adicionais.</p>

						<h2>Blocos de Dados (Cookies)</h2>
						<p>A Mercedes-Benz usa blocos de dados (cookies) para rastrear as preferências do usuário e para atingir um projeto correspondentemente otimizado do site da web. Os blocos de dados (Cookies) são pequenos arquivos armazenados em seu disco rígido. Isto permite uma navegação mais fácil e um alto grau de facilidade para o usuário em um site da web.<br/>Os blocos de dados (Cookies) também nos ajudam a identificar áreas particularmente populares do nosso material na internet. Isto nos permite personalizar o conteúdo de nossas páginas da internet conforme suas necessidades específicas e assim melhorar o serviço de internet que oferecemos a você.<br/>Os blocos de dados (Cookies) podem ser usados para determinar se uma conexão já foi feita anteriormente de seu computador para nossos sites. Estes blocos de dados permitem identificar apenas o seu computador. Dados pessoais podem ser armazenados em Cookies, desde que você concorde, por exemplo, para facilitar o acesso seguro online para que você não tenha que fornecer usuário e senha repetidamente.<br/>Naturalmente, você também pode visualizar nosso site da web sem quaisquer blocos de dados (cookies). A maioria dos navegadores aceitam os blocos de dados automaticamente. Você pode evitar que os blocos de dados (cookies) sejam salvos em seu disco rígido selecionando a opção "não aceitar blocos de dados (cookies)" no seu ajuste de navegação.<br/>Para descobrir como isso funciona em seu caso em particular, vide instruções do fornecedor de seu navegador. Além disso, você pode apagar o bloco de dados (cookie) da pasta de seu sistema a qualquer momento. Se, contudo, você decidir não aceitar os blocos de dados (cookies), isto pode limitar as funções disponíveis para você em nossos sites.</p>

						<h2>Segurança</h2>
						<p>A Mercedes-Benz usa medidas de segurança técnica e organizacional para proteger os dados que temos sob nosso controle contra manipulação acidental ou intencional, perda, destruição ou contra acesso por pessoas não autorizadas.<br/>Nossos procedimentos de segurança são continuamente otimizados à medida que novas técnicas se tornem disponíveis.</p>

						<h2>Liberdade de Informação</h2>
						<p>Sob pedido por escrito, a Mercedes-Benz ou seus distribuidores informarão a você por carta quais dados pessoais são armazenados por nós conforme definição da legislação vigente. Se tais dados estiverem incorretos, nós corrigiremos essa informação a seu pedido.<br/>Se você tiver alguma pergunta sobre a proteção e a privacidade de seus dados pessoais, você pode entrar em contato com o Oficial de Segurança e Proteção de Dados pelo email: pool-id.seguranca_informacao_mbbras@daimler.com</p>
					</div>
				</div>
			</div>
		</div>	
    </div>
</div>