<section class="video-campaing" id="surpreendase">
  <div class="row">
      <div class="video-campaing__container inner">
          <h4>Surpreenda-se</h4>
          <div id="player">

          </div>
      </div>
      <div class="general__arrow-down general__arrow-down-mini" data-scroll="hotspot" data-anchor="novidades">
        <img alt="Ir para próxima seção" src="./images/arrow_down_mini_white.png?v=1">
      </div>
  </div>
</section>