$font-family: 'CorpoSLig', sans-serif;

$colors: (
  white: #FFFFFF, 
  pearl: #FFFFFF,
  light: #7a7a7a,
  grey: #232323,
  black: #131313,
  blue: #4ebcfe
);

$whitespace: (
  xxxx-large: 8rem,
  xxx-large: 6.5rem,
  xx-large: 5rem,
  x-large: 3.7rem,
  large: 3rem,
  x-medium: 2.25rem,
  medium: 2rem,
  small: 1.2rem,
  x-small: 0.7rem,
  xx-small: 0.25rem
);

$font-size: (
  default: '16px/1.35',
  xxx-large: '18rem/0.9',
  xx-large: '8rem/1.05',
  x-large: '5rem/1.0',
  large: '3rem/1.2',
  x-medium: '2.2rem/1.2',
  medium: '1.2rem/1.4',
  small: '1rem/1.6',
  tiny: '0.8rem/1.0'
);


$black       : #000000;
$white       : #ffffff;
$silver      : #bfbfbf;
$grayTit     : #1f1f1f;
$graytxt     : #6f6f6f;
$gold        : #b58241;
$goldhover   : #996f38;
$blue        : #00beff;
$darkblue    : #00141d;
$red         : #c81c28;

$easelow     : all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
$ease        : all 0.3s ease-out;
$easeexpo    : all 600ms cubic-bezier(1.000, 0.000, 0.000, 1.000);