    <footer>
      <div class="footer container hide-mobile">
        <div class="inner">
          <div class="six columns partners">
            <ul>
              <li>
                <img src="./images/inmetro.png" alt="Inmetro" title="Inmetro">
              </li>
              <li>
                <img src="./images/ibama.png" alt="Ibama" title="Ibama">
              </li>
            </ul>
          </div>
          <div class="six columns social">
            <div class="social-text">
              Conheça nossos canais:
            </div>
            <ul>
               <li>
                <a href="https://www.facebook.com/mercedesbenzbrasil/" target="_blank">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCeSouDp1xPGVWal7G47ObXg" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/mercedesbenzbrasil" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="twelve columns links">
            <ul>
              <li>
               <a href="https://www2.mercedes-benz.com.br/content/brasil/mpc/mpc_brasil_website/pt/home_mpc/copyright.ngrb.html" target="_blank">
                © Copyrights 2018 
              </a>
              </li>
              <li>
                <a href="https://mercedes-benz.com.br/institucional/cookies" target="_blank">
                  Cookies
                </a>
              </li>
              <li>
                <a href="https://mercedes-benz.com.br/institucional/notificacoes-legais" target="_blank">
                  Notificações Legais
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

       <div class="footer container hide-desktop">
        <div class="inner">
          <div class="twelve columns social">
            <div class="social-text">
              Conheça nossos canais:
            </div>
            <ul>
               <li>
                <a href="https://www.facebook.com/mercedesbenzbrasil/" target="_blank">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCeSouDp1xPGVWal7G47ObXg" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/mercedesbenzbrasil" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="twelve columns links">
            <ul>
              <li>
                <a href="https://www2.mercedes-benz.com.br/content/brasil/mpc/mpc_brasil_website/pt/home_mpc/copyright.ngrb.html" target="_blank">
                © Copyrights 2018 
                </a>
              </li>
              <li>
                <a href="https://mercedes-benz.com.br/institucional/cookies" target="_blank">
                  Cookies
                </a>
              </li>
              <li>
                <a href="https://mercedes-benz.com.br/institucional/notificacoes-legais" target="_blank">
                  Notificações Legais
                </a>
              </li>
            </ul>
          </div>
          <div class="twelve columns partners">
            <ul>
              <li>
                <img src="./images/inmetro.png" alt="Inmetro" title="Inmetro">
              </li>
              <li>
                <img src="./images/ibama.png" alt="Ibama" title="Ibama">
              </li>
            </ul>
          </div>
        </div>
      </div>

    </footer>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/libs/jquery.hotspot.min.js"></script>
    <script src="js/libs/mustache.min.js"></script>
    <script src="js/libs/slick.min.js"></script>
    <script src="js/libs/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="js/libs/jquery.selectric.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?explicit&hl=pt-BR'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="js/libs/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/libs/easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="js/libs/url.min.js"></script>
    <script src="js/libs/js.cookie.min.js"></script>
    
    <script src="js/bundle.js?v=2"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82398544-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-82398544-1');
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-82398544-1', 'auto');
    ga('send', 'pageview');
  </script>

  </body>
</html>