<!DOCTYPE html>
<html lang="pt-br">
  <head>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTZD4S4');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <title>Mercedes-Benz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="Novo Classe C. Mais tecnologia e conectividade.">
    <meta name="keywords" content="">

    <meta property="og:description" content="Novo Classe C. Mais tecnologia e conectividade.">
    <meta property="og:site_name" content="Mercedes-Benz Classe C">
    <meta property="og:title" content="Mercedes-Benz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://novoclassec.com.br">
    <meta property="og:image" content="http://novoclassec.com.br/images/share.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Mercedes-Benz Classe C">
    <meta name="twitter:title" content="Mercedes-Benz">
    <meta name="twitter:description" content="Novo Classe C. Mais tecnologia e conectividade.">
    <meta name="twitter:domain" content="http://novoclassec.com.br">
    <meta name="twitter:image" content="http://novoclassec.com.br/src/images/share.jpg">

    <!-- Favicons -->
    <link href="./favicon.ico" rel="icon" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css?v=2">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkhR70_twxyMRRoAHpbPK9xhWGsGTREjQ&region=br"></script>

  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTZD4S4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="nav-head">
      <div class="inner">
        <div class="row hide-mobile">
          <div class="twelve columns">
            <div class="four columns logos">
              <img class="hide-mobile" alt="Logo Mercedez Benz" src="./images/desktop_logo.png">
              <a href="javascript:void(0)" data-scroll="highlight.no-padding" data-anchor="classec" class="new-class-c hide-mobile">Novo Classe C</a>
            </div>
            <div class="eight columns no-margin">
              <div class="nav-head__menu">
                <ul>
                  <li data-scroll="video-campaing" data-anchor="surpreendase">Surpreenda-se</li>
                  <li data-scroll="hotspot" data-anchor="novidades">Novidades</li>
                  <li data-scroll="gallery" data-anchor="galeria">Galeria</li>
                  <li data-scroll="features" data-anchor="tecnologia">Tecnologia </li>
                  <li data-scroll="models" data-anchor="modelos">Modelos </li>
                  <li data-scroll="maps" data-anchor="concessionarias">Concessionárias </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row hide-desktop">
          <div class="twelve columns">
            <div class="four columns logos">
              <img class="mobile-logo" alt="Logo Mercedez Benz" src="./images/mobile_logo.png">
            </div>
            <div class="five columns no-margin align-right">
              <div class="nav-head__menu">
                <a href="javascript:void(0)" class="menu-bar example5 hide-desktop"><span></span></a>
              </div>
            </div>
            <div class="nav-head__menu--mobile">
              <ul>
                <li data-scroll="video-campaing" data-anchor="surpreendase">Surpreenda-se</li>
                <li data-scroll="hotspot" data-anchor="novidades">Novidades</li>
                <li data-scroll="gallery" data-anchor="galeria">Galeria</li>
                <li data-scroll="features" data-anchor="tecnologia">Tecnologia </li>
                <li data-scroll="models" data-anchor="modelos">Modelos </li>
                <li data-scroll="maps" data-anchor="concessionarias">Concessionárias </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="{{title}}">
      