@import 
  "base/variables",
  "base/functions",
  "base/grid",
  "base/base";

@import "components/*";
@import "libs/selectric";

@import "pages/**/*";
@import "../fonts/stylesheet.css";

.general {
  &__arrow-down {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    margin: auto;
    cursor: pointer;
    text-align: center;
    &--bounce {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite;
    }
  }
  &__arrow-down-mini { 
    height: 40px;
    width: 40px;
  }
  &__arrow-down-mini-bottom { 
    bottom: -18px;
  }
}

.slick-slide, .fade {
  backface-visibility: hidden !important;
}

.no-margin {
  margin: 0 !important;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
